#root {
  color: black;
}

.episode {
  width: 25%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.episode img {
  max-width: 100%;
  height: auto;
  margin-left: 25px;
}

.episode h3 {
  text-align: center;
}